.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background: var(--background);
  color: var(--white);
  flex: 1;
  overflow: hidden;
  
  .textbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    h1 {
      color: var(--accent);
      font-size: 2.5rem;
    }
  }
}

.roulette {
  display: flex;
  justify-content: flex-start;
  gap: 20px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
