:root {
  --primary: #231452;
  --secondary: #270722;
  --accent: #FF5E74;
  --white: #F2F5FF;
  --black: #10030E;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display:flex;
  height: 100vh;
  width: 100vw;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
