.page {
  --background: #231452;
  --foreground: #FF5E74;

  --black: #10030E;
  --white: #F2F5FF;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: inter;
  background-color: var(--background);
}
