.hero {
  display: flex;
  width: 100%;
  min-height: 90vh;
  height: 100%;
  justify-content: space-between;
  padding: 0 100px;
  .textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    flex: 1;

    h1 {
      font-size: 4rem;
      color: var(--accent);
    }

    p {
      font-size: 1.5rem;
      font-weight: 100;
    }
  }

  .phoneContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
}

.info {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--white);
  padding: 120px 100px;
  color: var(--black);
  flex-direction: column;
  

  .cardDetails {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;

    h1 {
      color: var(--accent-violet);
    }

    .leftText {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .sector {
        flex: 1;
        display: flex;
        justify-content: flex-end;

        &:nth-child(1) {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-direction: column;
          gap: 30px;

          h1 {
            font-size: 2.5rem;
          }
        }
      }
    .messagesSector {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      flex: 0.5;
      gap: 20px;
      .message {
        display: flex;
        padding: 5px;
        gap:5px;
        &:nth-child(2) {
          flex-direction: row-reverse;
        }
      }
     }
    }

    .rightText {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .sector {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 30px;

        .boxContainer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
        }

        .textContainer {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
          width: 100%;
          gap: 30px;
          text-align: right;
        }
      }
    }
  }
}
