.phoneMockup {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0 10px var(--black);
  border-radius: 15px;
  padding: 20px;
  gap: 20px;

  .statsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;

    .statCard {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 10px;
      background: var(--white);
      color: var(--black);
      border-radius: 10px;
      font-size: .75rem;
      color: var(--accent);

      &:nth-child(1) {
        color: var(--green);
      }

    }
  }

  .mockedDock {
    width: 80%;
    height: 5px;
    align-self: center;
    background: var(--gray);
    margin-top: 10px;
    border-radius: 5px;
  }

}
