.bubble {
  display: flex;
  flex: 2;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 20px 20px 20px 0px;
  background-color: var(--gray);
  color: var(--primary);
  box-shadow: 0 0 1px;
  align-items: center;
  justify-content: flex-start;
}
.rightBubble {
  border-radius: 20px 20px 0px 20px;
  background-color: var(--primary);
  color: var(--gray);
  justify-content: flex-end;
}
