.registerContainer {
  display: flex;
  width: 100vw;
  height: 100vh;

  .formContainer {
    background: var(--white); 
    box-shadow: 0 0 5px var(--black);
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: center;

   .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background: var(--accent);
      padding: 20px;
      margin: 200px;
      width: 100%;
      border-radius: 10px;
      gap: 10px;

      .formNavi {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 10px;

        a {
          font-size: 1.25rem;
          text-decoration: none;
          font-weight: bold;
          color: var(--black);
          opacity: 50%;
        }

        .active {
          color: var(--white);
          opacity: 100%;
          text-decoration: underline;
        }
      }
      .name {
        display: flex;
        width: 100%;
        gap: 10px;
      }

      input {
       width: 100%;
       padding: 10px;
       border-radius: 15px;
       background: var(--white);
       outline: none;
       border: none;
       color: var(--black);
      }
    }
}
}
