.container {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  width: 100%;

  .arrow {
    width: 20%;
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;

    .shaft {
      height: 3px;
      background: currentColor;
      transform-origin: left;
    }

    .head {
      width: 8px;
      height: 8px;
      border-top: 2px solid currentColor;
      border-right: 2px solid currentColor;
      transform: rotate(45deg);
      margin-left: -1px;
    }

  }

  .text {
    white-space: nowrap;
  }
}
