.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 50px;
  gap: 50px;
  border-top: 1px solid var(--gray);

  .title {
    text-align: center;
    h1 {
      color: var(--accent-violet);
    }
  }

  .packagesContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 50px;
  .package {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: var(--primary);
    border-radius: 30px;
    padding: 40px 20px;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--accent);
    }

    .price {
      padding: 5px 30px;
      border-radius: 15px;
      font-size: 1.25rem;
      color:var(--primary);
      background: var(--white);
      font-weight: bolder;
    }

    .points {
      display: flex;
      flex-direction: column;
      color: var(--white);
      width: 100%;
      align-items: flex-start;
      gap: 10px;
      
      .point {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;

        .pointText {
          font-size: 0.75rem;
          color: var(--white);
        }
        .hollowText {
          color: var(--gray);
        }
      }
    }
  }
}
}
