.main {
  display: flex;
  color: var(--white);
  background: var(--accent);
  border-radius: 10px;
  font-size: 1rem;
  padding: 7.5px 20px;
  border: none;
  cursor: pointer;
  transition: 
    transform 0.2s ease-out;

  &:hover {
    transform: scale(1.1);
  }
}

.contact {
  border-radius: 0;
  width: 80%;
  background: var(--primary);
}

.scrollTo {
  border-radius: 20px;
  background: var(--button-scrollTo);
}

.form {
  background: var(--primary);
}
