.extraForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 10px;
  justify-content: flex-start;
  flex: 4;
  gap: 5px;

  .input {
    width: 80%;
    padding: 10px 10px 5px 10px;
    padding-left: 0;
    font-size: 1rem;
    background: none;
    border: none;
    border-bottom: 1px solid var(--white);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::placeholder {
      color: var(--white);
    }
  }
}
