.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  width: 100%;
  position: fixed;
  z-index: 99;
  background: var(--primary);

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    a {
      font-size: 1.25rem;
      transition: transform 0.2s ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
