.hero {
  display: flex;
  padding: 100px;
  align-items: center;
  background: var(--white);
  color: var(--black);
  height: 100vh;

  .textBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 10%;

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid var(--black);
      gap: 10px;

      h1 {
        font-size: 3rem;
        color: var(--primary);
      }

    }
  }

  .placeHolderContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}
